/*------------------------------------------------------------------
[Custom Stylesheet]

Project:	America Magazine
Version:	1.1
Author(s):	Gaurav Agrawal, Devashish Gurjar
Primary use:	America Magazine 
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Article]
-------------------------------------------------------------------*/
.largeHeaderImage img{max-width:100%;}
.page-node-type-article h1.page-header,
.page-node-type-book-review h1.page-header{display: none;}
span.a2a_svg{display:none !important;}